.circle {
position: absolute;
width: 48px;
height: 48px;
left: 30px;
top: 30px;
}
.left {
position: absolute;
width: 14.12px;
height: 14.12px;
left: 41.29px;
top: 48.35px;
}
.right {
position: absolute;
width: 10.94px;
height: 7.09px;
left: 55.77px;
top: 48.35px;
}
